.logo {
    float: left;
    height: 60%;
    width: 60%;
    padding: 0px;
}

h2, h3, h4, p, .thCentre {
    text-align: center;
}

.checkBox {
    padding: 10px 10px 10px 10px;
    text-align: center;

}

.leftArrow {
    background: url(../images/back48x48.png);
    border: none;
    width: 48px; /* largeur à spécifier */
    height: 48px; /* longueur à spécifier */
    cursor: pointer;
}

.rightArrow {
    background: url(../images/next48x48.png);
    border: none;
    width: 48px; /* largeur à spécifier */
    height: 48px; /* longueur à spécifier */
    cursor: pointer;
}

.house {
    background: url(../images/house48x48.png);
    border: none;
    width: 48px; /* largeur à spécifier */
    height: 48px; /* longueur à spécifier */
    cursor: pointer;
}

.marge-statut-agent {
    padding-left: 40px;
}

.bold {
    font-weight: bold;
}

.color-grey {
    background-color: rgba(146, 146, 146, 0.87);
}

.size-hour {
    font-size: 1.4em;
    font-weight: bold;
}

.size-day {
    font-size: 1.6em;
    font-weight: bold;
}

.poste-size {
    font-size: 1.2em;
}

.name-size {
    font-weight: bold;
}

.name-size-admin {
    font-size: 1.1em;
    font-weight: bold;
}

.border-black {
    border-color: black;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 0.8px solid #000000;
}

.color-button {
    background-color: rgba(179, 179, 179, 0.85);
}

.border-right {
    border-right: 3px solid #000000;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

.border-top-bot {
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
}

.border-table {
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
}

.background-color-admin {
    background-color: #ffffcc;
}

.width-input-agent {
    width: 19%;
}

.btn-calendar{
    padding-top: 1%;
    padding-bottom: 1%;
}