/* DEBUT calendrier JS : jsSimpleDatePickr */
.calendarMain{
	font-family: "Helvetica Neue", Helvetica, Geneva, sans-serif;
	text-align: left;
}
.calendarMain:after{
	content: " ";
	display: block;
	clear: both;
}
/* conteneur calendrier */
.calendarMain > div{
	width: 200px;
	padding: 5px 10px 10px 10px;
	background-color: #2e373f;
	background-color: #ffffcc;
	/*background-color: #2e373f;*/
	/*background-color: rgba(46, 55, 63, 0.95);*/
	border-radius: 10px;
	-moz-box-shadow: 0 0 10px #555;
	-webkit-box-shadow: 0 0 10px #555;
	box-shadow: 0 0 10px #555;
	font-size: 10px;
}
/* bouton d'affichage*/
.calendarMain > input{
	display: block;
	height: 22px;
	padding-top: 2px;
	background-color: #2e373f;
	/*color: #fff;*/
	border-radius: 5px;
	border: none;
}
.calendarMain > input:hover{
	background-color: #2673cb;
}
/* navigation dans le calendrier */
.calendarMain .calendarTitle{
	position: absolute;
	margin: 7px 0 0 0;
	padding: 0;
	width: 190px;
	/*color: #ccc;*/
	text-align: center;
}
.calendarNav input{
	position: relative;
	margin: 5px 0 10px 0;
	width: 20px;
	background-color: #8baabd;
	border: none;
	/*color: #fff;*/
}
.calendarNav input:hover{
	background-color: #6f8598;
}
.calendarNav .calendarNavMR, .calendarNav .calendarNavYR{
	float: right;
}
/* calendrier */
.jsCalendar{
	/*color: #fff;*/
	border-collapse: collapse;
}
.jsCalendar th{
	color: #8ba7bf;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}
.jsCalendar td{
	padding: 0;
	border: none;
	width: 30px;
	padding: 3px 0 3px 0;
	color: black;
	/*color: #fff;*/
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}
.jsCalendar .day:hover{
	background-color: rgba(38, 115, 203, 0.7);
	border-color: rgba(38, 115, 203, 0.71);
}
.jsCalendar .selectedDay{
	background-color: rgba(232, 74, 54, 1);
	border-color: #e8503b;
}
/* FIN calendrier JS : jsSimpleDatePickr */