p.prev::before {
     content:"";
     position:absolute;left:-25px;top:0;
     
     /* taille */  
     height:0;width:0; 
     
     /* les bordures */
     border-right:36px solid #AAAAAA;
     border-bottom:18px solid transparent;
     border-top:18px solid transparent;
     }

p.next::after {
     content:"";
     position:absolute;left:-25px;top:0;
     
     /* taille */  
     height:0;width:0; 
     
     /* les bordures */
     border-right:36px solid #AAAAAA;
     border-bottom:18px solid transparent;
     border-top:18px solid transparent;
     }